.subtitle {
  font-weight: 600;
}

.opening__row {
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.opening__row--day, .opening__row--time {
  margin: 0.125rem 0;
}

.opening__row--day {
  width: 5rem;
}