.centers__list {
  margin-bottom: 50px;
}

.centers__link {
  margin: 4px 8px 4px 0;
  padding: 12px;
  background-color: #ffffff;
  border: 1px solid #13529e;
  border-radius: 4px;
  color: #13529e;
  text-decoration: none;
}

.centers__link + .centers__link {
  margin-right: 8px;
}

.active--center {
  background-color: #13529e;
  color: #ffffff;
}